@mixin carre($bg-color,$val1,$val2){

    width: 300px;
    height: 300px;
    background-color: $bg-color;
    transform: translate($val1,$val2);
}


.square{
@include carre(rgb(102, 27, 27) ,100%,100%)
}


.square:hover{
    animation: couleur 1s infinite
}
 
   
@keyframes couleur {
    0%{
        background: linear-gradient(blue, pink);
    }
    10%{
        background: linear-gradient(rgba(0, 0, 255, 0.96), rgba(255, 192, 203, 0.96));
    }
    20%{
        background: linear-gradient(rgba(0, 0, 255, 0.76), rgba(255, 192, 203, 0.76));
    }
    30%{
        background: linear-gradient(rgba(0, 0, 255, 0.56), rgba(255, 192, 203, 0.56));
    }
    50%{
        background: linear-gradient(rgba(0, 0, 255, 0.50), rgba(255, 192, 203, 0.76));
    }
    70%{
        background: linear-gradient(rgba(0, 0, 255, 0.56), rgba(255, 192, 203, 0.86));
    }
    80%{
        background: linear-gradient(rgba(0, 0, 255, 0.76), rgba(255, 192, 203, 0.96));
    }
    100%{
        background: linear-gradient(rgba(0, 0, 255, 1), rgba(255, 192, 203,1));
    }
}


.square2{
    @include carre(rgb(35, 27, 102),250%,0%);
    }

    .square2:hover{

        rotate:(360deg) ;
        transition-duration: 8s;
    }
  
   .square3{
    @include carre(rgb(4, 63, 9),400%,-100%);
   } 
   .square3:hover{
    border-radius: 100%;
    transition-duration: 10s;
   }